<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.wwf.modules.order.dao.SFTOrderItemMapper" >
  <resultMap id="BaseResultMap" type="top.wwf.modules.order.entity.SFTOrderItem" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="order_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_cover_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cart_num" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shop_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tag" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="buy_price" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="buy_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="total_money" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, goods_id, goods_name, goods_cover_image, cart_num, shop_id, tag, buy_price, 
    buy_num, total_money, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sft_order_item
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertSelective" parameterType="top.wwf.modules.order.entity.SFTOrderItem" >
    insert into sft_order_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsCoverImage != null" >
        goods_cover_image,
      </if>
      <if test="cartNum != null" >
        cart_num,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="buyPrice != null" >
        buy_price,
      </if>
      <if test="buyNum != null" >
        buy_num,
      </if>
      <if test="totalMoney != null" >
        total_money,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCoverImage != null" >
        #{goodsCoverImage,jdbcType=VARCHAR},
      </if>
      <if test="cartNum != null" >
        #{cartNum,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="buyPrice != null" >
        #{buyPrice,jdbcType=BIGINT},
      </if>
      <if test="buyNum != null" >
        #{buyNum,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null" >
        #{totalMoney,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.wwf.modules.order.entity.SFTOrderItem" >
    update sft_order_item
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCoverImage != null" >
        goods_cover_image = #{goodsCoverImage,jdbcType=VARCHAR},
      </if>
      <if test="cartNum != null" >
        cart_num = #{cartNum,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="buyPrice != null" >
        buy_price = #{buyPrice,jdbcType=BIGINT},
      </if>
      <if test="buyNum != null" >
        buy_num = #{buyNum,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null" >
        total_money = #{totalMoney,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertOrderItems">
    insert into sft_order_item (order_id, goods_id,goods_name, goods_cover_image, cart_num,shop_id, tag, buy_price,
      buy_num, total_money
      )
    values
    <foreach collection="list" item="orderItem" separator="," close=";">
      (
      <if test="orderItem.orderId != null" >#{orderItem.orderId,jdbcType=VARCHAR},</if>
      <if test="orderItem.goodsId != null" >#{orderItem.goodsId,jdbcType=VARCHAR},</if>
      <if test="orderItem.goodsName != null" >#{orderItem.goodsName,jdbcType=VARCHAR},</if>
      <if test="orderItem.goodsCoverImage != null" >#{orderItem.goodsCoverImage,jdbcType=VARCHAR},</if>
      <if test="orderItem.cartNum != null" >#{orderItem.cartNum,jdbcType=VARCHAR},</if>
      <if test="orderItem.shopId != null" >#{orderItem.shopId,jdbcType=VARCHAR},</if>
      <if test="orderItem.tag != null" >#{orderItem.tag,jdbcType=VARCHAR},</if>
      <if test="orderItem.buyPrice != null" >#{orderItem.buyPrice,jdbcType=BIGINT},</if>
      <if test="orderItem.buyNum != null" >#{orderItem.buyNum,jdbcType=INTEGER},</if>
      <if test="orderItem.totalMoney != null" >#{orderItem.totalMoney,jdbcType=BIGINT}</if>
      )
  </foreach>
  </insert>

  <select id="selectOrderItemListByOrderId" resultType="top.wwf.modules.order.entity.SFTOrderItem">
    select <include refid="Base_Column_List"/>
    from sft_order_item where order_id=#{orderId} order by id
  </select>
</mapper>