<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.wwf.modules.order.dao.SFTOrderItemsMapper" >
  <resultMap id="BaseResultMap" type="top.wwf.modules.order.entity.SFTOrderItems" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="order_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods_cover_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tag" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="buy_price" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="buy_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="total_money" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, goods_id, goods_name, goods_cover_image, tag, buy_price, buy_num, total_money, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sft_order_items
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sft_order_items
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.wwf.modules.order.entity.SFTOrderItems" >
    insert into sft_order_items (id, order_id, goods_id, 
      goods_name, goods_cover_image, tag, 
      buy_price, buy_num, total_money, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsCoverImage,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, 
      #{buyPrice,jdbcType=INTEGER}, #{buyNum,jdbcType=INTEGER}, #{totalMoney,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.wwf.modules.order.entity.SFTOrderItems" >
    insert into sft_order_items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsCoverImage != null" >
        goods_cover_image,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="buyPrice != null" >
        buy_price,
      </if>
      <if test="buyNum != null" >
        buy_num,
      </if>
      <if test="totalMoney != null" >
        total_money,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCoverImage != null" >
        #{goodsCoverImage,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="buyPrice != null" >
        #{buyPrice,jdbcType=INTEGER},
      </if>
      <if test="buyNum != null" >
        #{buyNum,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null" >
        #{totalMoney,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.wwf.modules.order.entity.SFTOrderItems" >
    update sft_order_items
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCoverImage != null" >
        goods_cover_image = #{goodsCoverImage,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="buyPrice != null" >
        buy_price = #{buyPrice,jdbcType=INTEGER},
      </if>
      <if test="buyNum != null" >
        buy_num = #{buyNum,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null" >
        total_money = #{totalMoney,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.wwf.modules.order.entity.SFTOrderItems" >
    update sft_order_items
    set order_id = #{orderId,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_cover_image = #{goodsCoverImage,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      buy_price = #{buyPrice,jdbcType=INTEGER},
      buy_num = #{buyNum,jdbcType=INTEGER},
      total_money = #{totalMoney,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>