<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.wwf.modules.user.dao.SFTUserSysInfoMapper" >
  <resultMap id="BaseResultMap" type="top.wwf.modules.user.entity.SFTUserSysInfo" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="open_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="account" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="session_key" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="register_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_role" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="code_used_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shop_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_delete" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, open_id, account, password, session_key, register_code, user_role, user_name, 
    code_used_time, shop_id, is_delete, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sft_user_sys_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sft_user_sys_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="top.wwf.modules.user.entity.SFTUserSysInfo" >
    insert into sft_user_sys_info (id, user_id, open_id, 
      account, password, session_key, 
      register_code, user_role, user_name, 
      code_used_time, shop_id, is_delete, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{sessionKey,jdbcType=VARCHAR}, 
      #{registerCode,jdbcType=VARCHAR}, #{userRole,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{codeUsedTime,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.wwf.modules.user.entity.SFTUserSysInfo" >
    insert into sft_user_sys_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="sessionKey != null" >
        session_key,
      </if>
      <if test="registerCode != null" >
        register_code,
      </if>
      <if test="userRole != null" >
        user_role,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="codeUsedTime != null" >
        code_used_time,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null" >
        #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="registerCode != null" >
        #{registerCode,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        #{userRole,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="codeUsedTime != null" >
        #{codeUsedTime,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.wwf.modules.user.entity.SFTUserSysInfo" >
    update sft_user_sys_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sessionKey != null" >
        session_key = #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="registerCode != null" >
        register_code = #{registerCode,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        user_role = #{userRole,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="codeUsedTime != null" >
        code_used_time = #{codeUsedTime,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.wwf.modules.user.entity.SFTUserSysInfo" >
    update sft_user_sys_info
    set user_id = #{userId,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      session_key = #{sessionKey,jdbcType=VARCHAR},
      register_code = #{registerCode,jdbcType=VARCHAR},
      user_role = #{userRole,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      code_used_time = #{codeUsedTime,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>